<p> User Show_Page </p>

	<% if @post.picture.exists? %>
	   <%= link_to image_tag(@post.picture.url(:thumb)),
	   @post.picture.url %>
	<% end %>

<div class="container">
  <div class="well">
      <div class="media">
      	<a class="pull-left" href="#">

    			<%= link_to image_tag(@post.picture.url(:thumb)), @post.picture.url %>
  			</a>
  		<div class="media-body">
    		<h4 class="media-heading"><%= @post.title %></h4>
          <p class="text-right">By Francisco</p>
          <p><%= @post.content%></p>

          <ul class="list-inline list-unstyled">
  					<li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
            <li>|</li>
            <li>
               <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <li>|</li>
            <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
              <span><i class="fa fa-facebook-square"></i></span>
              <span><i class="fa fa-twitter-square"></i></span>
              <span><i class="fa fa-google-plus-square"></i></span>
            </li>
					</ul>
       </div>
    </div>
  </div>   
 </div>
</div>